<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('anomaly.field_type.grid::message.choose_row') }}</h4>
</div>

<div class="modal-body">
    {% if not grids.isEmpty() %}
        <ul class="nav nav-pills nav-stacked">
            {% for grid in grids %}
                <li class="nav-item">
                    <a href="{{ url_to('/streams/field_type/grid/form/' ~ route_parameter('field')) }}/{{ grid.stream.id }}"
                       class="add-row nav-link">
                        <strong>{{ grid.stream.name }}</strong>
                        <br>
                        <small>{{ grid.stream.description }}</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ trans('streams::message.no_results') }}
    {% endif %}
</div>
